<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="" defer></script>
    <link rel="shortcut icon" href="../imgs/spr.webp">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <script src="/public/js/downloads.js" defer></script>
    <title>Downloads!™</title>
</head>
<body>
    <div class="mheader">
        <div class="mwidth-flex">
            <div class="spr-menu">
                <div class="spr"><img src="../imgs/spr.webp"><h1>Fuwa!™</h1></div>
                <div class="menu-links">
                    <a href="#">Staff</a>
                    <a href="/">Home</a>
                    <a href="#">Downloads</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mladder">
        <div class="nodemon">
            <h1>Downloads:</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flickity-slider">
            <article class="items">
                <a href="https://download165.uploadhaven.com/1/application/zip/4uzuyu0NKRuahFS6IBAIFfq7BXp3lofo1rNn8mQJ.zip?key=Zt4d4_G77fnUjKz0MAs7rQ&expire=1659820810&filename=Terraria.v1.4.3.6.zip">
                <img src="../imgs/terraria.jpg">
                <h1>➥ Download: Terraria™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://doc-54-14-drive-data-export.googleusercontent.com/download/vpf4uduv31ad9jsha59jtfvuohvi6868/57k2khcir2bnvhecp6has5jkvg2mnhmt/1659735000000/6f711d0b-c820-4785-9fdf-b9b19e79fed6/113619421761857160744/ADt3v-P_-zqywbYkxyw_IGCyzYmBEDXEcbr-awFyCDfW7U5Pn0W_rj4reQvuE2qM8171YMcjQT3bEttTmQText-MeQbFpWLlzON_uQGES-nSGmROXctbPM2QMCy6vkSXAMko_DACzxbVFDPkpLRANBDUXvyVLi2Ve3HKcUn7o2ngbEDrxzCJKMQVRM-Njl38lD3IFq6L6joIIIgyAxG8lQVyjE8ptwz-guvFACs9DxQpx9I0uJLAl3ytPxSV7rLyyfzBixJrseikMd5OVhKnmei_54KBOUKfjswqQn6F8-7MSYHcAMlpVJzQf2TcUFCfl4RKWETH6z66hxlEVzQlR6b8gGmWuAsYyWowrTLVjqTHAb77P_l8X0Q=?authuser=0&nonce=es4n7imumi5q0&user=113619421761857160744&hash=ik1lstl3f43q8qc0gvlofnqvfj5pq7n4">
                <img src="../imgs/ddlc.jpg">
                <h1>➥ Download: Doki Doki Plus!™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://download1529.mediafire.com/jkidvfcpentg/m1yxflyyeeihvj4/Saiko.no.sutoka.v2.2.8.zip">
                <img src="../imgs/saiko.webp">
                <h1>➥ Download: Saiko No Sutoka™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://doc-04-b4-docs.googleusercontent.com/docs/securesc/iljqrkea3g6ljtmbq8m71pd1e64sdf2p/qongs1latrjfsrh0iogcml32qhn058gm/1659739575000/09531256942876412110/01284889221377370207/1Y5Y5QeVsGTNtAQ5-yJ2xwn2TMKQXtD7K?e=download&ax=AI9vYm4OvY0qIeC-U9YjpHZzGFx5xG41iSpZ_PfwI1_lvVQicfgRmSOf0VghMXtzOhme4h55L73evqIcZE0cvQYFHCGyo6syMMmZyNwG6LrINQXyPjaW3HiMycPDHbe31bAL8ets8cywnqnhObKMzqPxosZiMXhXH_VSMd5YW6R-11IrB6WEJbmeia0Bsya1EuW8yOR63hy0Jl6qvR_qkKhURb0FFrkbZYEnoDn06SN-54Pq9DNXcZ8G9fdBlzrbVKm1SJSiA_4fg6z1ptFYUHHGQQl1hTMjXHpXkETCjmMy_PpFR58rvTPpYCdJvvoOSglzVl6ze8V0YxaCcol8i-cXqYfbRF6Vz6evCkh_dm5nnCumYtXQFegBuKYoyjekQelpZVQUk-YYwBoivCDDVoKM0Qrt6Yu9-V1S1xyLmuTZnWVWunFCL6sR1_SsNis-03eDivKj_mc28VZRs_MGBWGreV1lmzwSvcP5PuLLLF5DGyEhGrc-ZzWlN5nmTnB-iHcnUdlcL12Lg1-bxr4MxsmR75IyqWl5QW9zW_3fizeWH9ldrua9wIyEB8VewZqZ6qkxMST15zIUOdF7S_vecJu0sBS2hIBCPaD0qzobnX4bFOaDiH3l6QaAvqGbcsRxyUHJu0XzQ4BV9UXY3ina7yDiN1EcxAvwTyr1laDvD7vbYd5_8XE6t6MkGqbJJd7YxG4Y1MQOu4DSDdNp9JJcpmuO29XnwQc5s3sUFTBkRRCENYHHkozpd9oWDe-PEbMG7mV6YSDMVoCfhbXepFHtMgaRKDqHp8yQ8PDDXa1H3cK2wLMNT-3YjbtnZZRVbtLm1w&uuid=5f19622c-8237-44e7-bb21-a80f35b57012&authuser=0">
                <img src="../imgs/127.jpg">
                <h1>➥ Download: Super Mario 127™</h1>
                </a>
            </article>
            <article class="items">
                <a href="http://download2264.mediafire.com/m2zxok85q30g/3i19tyxm9mi0l58/resident+evil+4+Frankk+Tutoriais.rar">
                <img src="https://img.olx.com.br/images/66/664244779003234.jpg">
                <h1>➥ Download: Resident Evil 4™</h1>
                </a>
            </article>
        </div>
    </div>
    <div class="mlogger"></div>
</body>
</html>