<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="" defer></script>
    <link rel="shortcut icon" href="../imgs/spr.webp">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <script src="/public/js/downloads.js" defer></script>
    <title>Downloads!™</title>
</head>
<body>
    <div class="mheader">
        <div class="mwidth-flex">
            <div class="spr-menu">
                <div class="spr"><img src="../imgs/spr.webp"><h1>Fuwa!™</h1></div>
                <div class="menu-links">
                    <a href="#">Staff</a>
                    <a href="/">Home</a>
                    <a href="#">Downloads</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mladder">
        <div class="nodemon">
            <h1>Downloads:</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flickity-slider">
            <article class="items">
                <a href="https://dl2.tlauncher.org/f.php?f=files%2FTLauncher-2.86-Installer-1.0.1.exe">
                <img src="../imgs/minecraft.png">
                <h1>➥ Download: Minecraft™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://download1645.mediafire.com/xxg57s3mi8ig/ueo3xwisrbq4y3b/Terraria_Journeys_End_v1.4.3.6-Razor1911.rar">
                <img src="../imgs/terraria.jpg">
                <h1>➥ Download: Terraria™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://download2282.mediafire.com/q6vgzy51qrog/4fnwn1f1hez9tud/Doki.Doki.Literature.Club.Plus.Build.20220622.zip">
                <img src="../imgs/ddlc.jpg">
                <h1>➥ Download: Doki Doki Plus!™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://files.catbox.moe/fgdi5o.rar">
                <img src="../imgs/127.jpg">
                <h1>➥ Download: Super Mario 127™</h1>
                </a>
            </article>
            <article class="items">
                <a href="https://download1529.mediafire.com/jkidvfcpentg/m1yxflyyeeihvj4/Saiko.no.sutoka.v2.2.8.zip">
                <img src="../imgs/saiko.webp">
                <h1>➥ Download: Saiko No Sutoka™</h1>
                </a>
            </article>
        </div>
    </div>
    <div class="mlogger"></div>
</body>
</html>