<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="" defer></script>
<<<<<<< HEAD
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <title>On-ilne Fuwa!™</title>
=======
    <link rel="stylesheet" href="../css/style.css">
    <title>testing</title>
>>>>>>> 46098006b38024bbdcbe2b8c09548257bb079c18
</head>
<body>
    <div class="mheader">
        <div class="mwidth-flex">
            <div class="spr-menu">
                <div class="spr"><img src="../imgs/spr.webp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flickity-slider">
            <article class="items">
                <img src="../imgs/warstone.jpg">
                <h1>Dr. Stone (1ª Temporada) – Todos os Episódios</h1>
            </article>
            <article class="items">
                <img src="../imgs/drstone.png">  
                <h1>Dr. Stone (2ª Temporada) – Todos os Episódios</h1>
            </article>
<<<<<<< HEAD
            <article class="items">
                <img src="../imgs/onepiece.jpg">  
                <h1>One Piece (2022) – Todos os Episódios</h1>
            </article>
            <h2>lorray e wal é burro deu</h2>
=======
            </article>
>>>>>>> 46098006b38024bbdcbe2b8c09548257bb079c18
        </div>
    </div>
</body>
</html>