* { box-sizing: border-box; margin: 0px; } :root { --clr: #333 } body { background: var(--clr); }
.mheader {
     background: #222;
     border-bottom: solid 1px #1e1e1e;
     overflow: hidden; }
     .mwidth-flex {
         max-width: 1280px;
         justify-content: space-between;
         align-items: center;
         display: flex;
         margin: auto; }
         .mladder {
             background: #1a1a1a;
             border-bottom: solid 1px #1e1e1e;
             overflow: hidden; }
             .nodemon {
                 max-width: 1280px;
                 justify-content: space-between;
                 align-items: center;
                 display: flex;
                 padding: 3px;
                 margin: auto; }
                     .nodemon h1 {
                         text-transform: capitalize;
                         margin-left: -5px;
                         font-weight: 300;
                         font-size: 13px;
                         color: #fff; }
                         .nodemon h2 {
                             text-transform: capitalize;
                             margin-left: -5px;
                             font-weight: 300;
                             font-size: 13px;
                             color: #1a1a1a; 
                         }
::-webkit-scrollbar { display: none; }
.spr-menu {
     margin-right: 10px;
     background-position: 0 0;
     display: flex;
     align-items: center;
     width: 100px;
     height: 42px;
     margin-bottom: -18px; }
         .spr-menu img {
             position: fixed;
             left: 4px;
             top: 3px;
             width: 35px;
             height: 35px; }
             .spr-menu h1 {
                margin-left: 3px;
                margin-top: -3px;
                color: #fee182;
                font-size: 15px;
                position: fixed;
                top: 5px; }
.menu-links {
    position: fixed;
    right: 8px;
    font-size: 14px;
    top: 4px; }
    .menu-links a {
        color: white;
        text-transform: lowercase;
        margin: 5px;
        text-decoration: none; }
.flickity-slider {
     display: flex; }
     .items {
         position: relative;
         cursor: pointer;
         width: 20%; }
         .items img {
             border: solid 1px #1e1e1e;
             width: 100%;
             height: 100%; }
            .items h1 {
                 background: #000000e6;
                 color: #fff;
                 word-wrap: break-word;
                 position: absolute;
                 bottom: 0;
                 width: 100%;
                 text-align: center;
                 font-size: 11px;
                 font-weight: bolder;
                 padding: 5px; }